/* --------------------------- CREAM NG MAIN CSS ------------------- */

/* 2018 */

/* CUSTOM PROPERTIES */

@import 'vars.css';
/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

/* ----------- DEFAULTS ----------------- */

body {
  height: 100%;
  font: 100%/1.2 var(--stack);
  color: var(--body-text);
  background-color: var(--body-bg);
}

h4 {
  font: normal 1.15em/1.2 var(--stack-b);
  margin-bottom: 1em;
}

p,
li,
dt,
dd {
  font-size: 1em;
}

li p,
li li,
li dt,
li dd {
  font-size: 100%;
}

a {
  text-decoration: underline;
  color: var(--n-s-dark);
}

a:visited {
  color: var(--n-dark);
}

a:hover {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0;
}

strong {
  font-family: var(--stack-b);
  font-weight: normal;
}

em {
  font-family: var(--stack-i);
  font-style: normal;
}

button {
  font: 100%/1 var(--stack-m);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

abbr {
  cursor: help;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

a.skip_links {
  left: -99999px;
  position: absolute;
}

code {
  font: 100% 'Courrier New', Courier, monospace;
  color: var(--sec-color);
  background-color: var(--body-bg);
  vertical-align: baseline;
}

.svgLibrary {
  display: none;
}

/* ********************** SCROLLBAR/Webkit only *************** */

::-webkit-scrollbar {
  width: 16px;
  background-color: #dbd8d8;
}

::-webkit-scrollbar:horizontal {
  height: 16px;
}

::-webkit-scrollbar-track {
  border: 1px #dbd8d8 solid;
  border-radius: 10px;
  box-shadow: 0 0 6px #dbd8d8 inset;
  -webkit-box-shadow: 0 0 6px #dbd8d8 inset;
}

::-webkit-scrollbar-thumb {
  background-color: #44abbc;
  border: 1px solid #dbd8d8;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b9bad;
  border: 1px solid #2b9bad;
}

::-webkit-scrollbar-thumb:active {
  background-color: #44abbc;
  border: 1px solid #dbd8d8;
}

/* *********** PAGE STRUCTURE ************* */

app-breadcrumbs {
  display: none;
}

div.demo app-breadcrumbs {
  display: block;
}

/* *********** FORMS ************* */

label {
  display: block;
  font: 90%/1 var(--stack-b);
  padding-bottom: 0.3em;
}

input,
select,
textarea {
  font: 100%/1 var(--stack);
  color: var(--n-dark);
  background-color: var(--body-bg);
  padding: 0.5em;
  border: 1px solid var(--n-medium);
  border-radius: 0.3em;
  transition: all;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--body-bg);
  border-bottom-color: var(--sec-light);
  border-radius: 0;
}

input[disabled] {
  color: var(--n-dark);
  background-color: var(--n-medium);
  border: none;
}

/* To structure group of buttons */

ul.buttons-bar li {
  display: inline-block;
  font-size: 1em;
  margin: 0 0.5em 0.5em 0;
}

/* *********** ARTICLES ************* */

p+p {
  margin-top: 1em;
}

article.post {
  background-color: var(n-lighter);
  padding: 5vh 5%;
}

article.post h3 {
  display: block;
  font: 1.3rem var(--stack-b);
  color: var(--sec-color);
  margin-bottom: 1em;
}

article.post h4 {
  font: 1rem var(--stack-b);
  margin-bottom: 1em;
}

article.post ul {
  margin: 2rem 1rem;
}

article.post li+li {
  margin-top: 0.5em;
}

article.post p {
  line-height: 1.45;
}

article.post p+p {
  margin-top: 0.5em;
}

article.post p+h3,
article.post p+h4 {
  margin-top: 1em;
}

article.post a {
  font-family: var(--stack-b);
  text-decoration: underline;
}

article.post a:hover,
article.post a:focus {
  text-decoration: none;
}

article.post code {
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: var(--body-bg);
  margin: 0 0 0.3em;
  padding: 0.5rem 1rem;
  border-radius: 0.3em;
}

/* Child Containers */

article.post section {
  background-color: var(--n-lighter);
  padding: 1rem;
  margin-bottom: 1rem;
}

article.post div.group {
  max-width: 45em;
}

article.post div.group+div.group {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--n-medium);
}

div.code-ex {
  margin: 1em 0;
}

/* *********** PANEL TITLE ************* */

.panelTitle {
  margin-bottom: 10vh;
  border-top: 1px solid var(--body-bg);
}

.panelTitle h2 {
  font: 1.2em var(--stack);
  color: var(--text-inv);
  background-color: var(--main-color);
  padding: 0.5em 5%;
  margin-bottom: 1em;
}

.panelTitle ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  border-left: 5px solid var(--main-light);
}

.panelTitle li {
  font: 1em var(--stack);
  min-width: 30%;
  flex-basis: 20%;
}

.panelTitle li a {
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
  transform: perspective(1px) translateZ(0);
}

/* ********** TITLE COMPONENT *********** */

.titleComponent {
  background-color: var(--body-bg);
  padding: 0 5%;
}

.titleComponent+.titleComponent {
  margin-top: 5vh;
}

.titleComponent>div {
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-top: 3px dotted var(--n-dark);
}

.titleComponent>div h3 {
  position: relative;
  font: 1.2em var(--stack-b);
  text-transform: uppercase;
  padding-right: 45px;
  margin: 0 0 1.5em 0;
}

.titleComponent>div h3>svg {
  /*display: inline;
          width: 22.2px;
          height: 32px;
					fill: var(--main-light);
          vertical-align: bottom;*/
  display: none;
}

/* GitHub Button */

.titleComponent .gitBtn {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
  text-transform: none;
  color: var(--main-color);
  background-color: var(--n-lighter);
  border-radius: 0.3em;
  border: none;
  transition-property: color;
  transition-duration: 0.3s;
  transform: perspective(1px) translateZ(0);
}

/* Git Hub IMG */

.titleComponent .gitBtn svg {
  display: none;
  position: relative;
  top: 6px;
  left: 6px;
  width: 35px;
  height: 30px;
  fill: var(--n-dark);
  transition: fill 0.3s ease-out;
}

.titleComponent .gitBtn span {
  position: absolute;
  left: 150px;
}

/* GitHub Button Hover */

.titleComponent .gitBtn:hover {
  color: var(--body-bg);
}

.titleComponent .gitBtn:hover svg {
  fill: var(--body-bg);
}

.titleComponent .gitBtn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background: var(--main-color);
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.titleComponent .gitBtn:hover::before,
.titleComponent .gitBtn:focus::before,
.titleComponent .gitBtn:active::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.titleComponent>div>p,
.titleComponent div.explain>p {
  max-width: 40em;
  line-height: 1.45;
  padding-right: 50px;
}

.titleComponent>div>p>strong {
  color: var(--n-dark);
}

.titleComponent>div>p>a {
  text-decoration: underline;
}

/* DEMO BLOCK */

div.demo {
  background: var(--n-lighter) url(assets/img/demo-bkgd.png);
  padding: 1rem;
  margin: 0 0 2rem;
}

div.explain {
  margin-bottom: 2rem;
}

div.explain p {
  margin-bottom: 1rem;
}

div.explain dl div {
  display: table-row;
}

div.explain dl {
  margin-bottom: 1rem;
}

div.explain dt,
div.explain dd {
  display: table-cell;
  font-size: 1em;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--n-medium);
}

div.explain dt {
  padding-right: 1em;
}

div.explain p+p {
  margin-top: 0.8em;
}

div.explain dt {
  font-family: var(--stack-b);
  color: var(--n-dark);
  padding-right: 1em;
}

div.explain a,
div.explain a:visited {
  text-decoration: underline;
}

div.demo .explain {
  font-size: 1em;
}

/* ------------- TIPS/BEST PRACTICES --------------- */

div.tip {
  display: flex;
  background-color: rgba(var(--green), 0.1);
  padding: 1rem;
}

div.tip svg {
  min-width: 46px;
  margin-right: 1rem;
}

div.tip p {
  line-height: 1.5;
}

/* **************** CODE SNIPPPEETTSS *************** */

.pre-code {
  font: 1.1em var(--stack);
  margin: 0 0 1rem;
}

.pre-code strong {
  color: var(--sec-color);
}

ol.linenums code {
  font: 1em var(--stack);
  background-color: rgba(255, 255, 255, 0);
}

/* ************ CODE SNIPPETS IN TABS COMPONENTS ********** */

c3m-tabs div.code {
  overflow: auto;
  width: 100%;
  max-height: 300px;
  color: var(--text-inv);
  background-color: var(--n-dark);
  margin: 0 0 1rem;
}

c3m-tabs ol.display-code {
  list-style: decimal;
  margin-left: 2.2rem;
}

c3m-tabs ol.display-code li {
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  margin-left: -0.2rem;
}

c3m-tabs ol.display-code pre span {
  color: #f7901e;
}

c3m-tabs ol.display-code em {
  color: #2ad020;
}

/* TO GENERATE SNIPPETS CODE  */

c3m-tabs .str {
  color: #ef86d7;
}

c3m-tabs .kwd {
  color: #6cd839;
}

c3m-tabs .com {
  color: #3fcfe6;
}

c3m-tabs .typ {
  color: #3fcfe6;
}

c3m-tabs .lit {
  color: #f59e17;
}

c3m-tabs .pun {
  color: #f1f2f3;
}

c3m-tabs .pln {
  color: #f1f2f3;
}

c3m-tabs .tag {
  color: #6cd839;
}

c3m-tabs .atn {
  color: #e0e2e4;
}

c3m-tabs .atv {
  color: #f59e17;
}

c3m-tabs .dec {
  color: #ef86d7;
}

c3m-tabs pre.prettyprint {
  overflow-x: auto;
}

c3m-tabs .content .code {
  overflow-x: hidden;
}

c3m-tabs ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  min-width: 100%;
}

c3m-tabs .prettyprint {
  background: var(--n-dark);
}

c3m-tabs li.L0,
c3m-tabs li.L1,
c3m-tabs li.L2,
c3m-tabs li.L3,
c3m-tabs li.L4,
c3m-tabs li.L5,
c3m-tabs li.L6,
c3m-tabs li.L7,
c3m-tabs li.L8,
c3m-tabs li.L9 {
  padding: 0.2rem 0;
}

c3m-tabs li.L1,
c3m-tabs li.L3,
c3m-tabs li.L5,
c3m-tabs li.L7,
c3m-tabs li.L9 {
  background: var(--n-dark);
  padding: 0.2rem 0;
}

/* GITHUB FORK BUTTON */

.github-corner:hover .octo-arm {
  animation: none;
}

.github-corner .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

/* *********** QUERIES ************* */

@media (max-width: 660px) {
  .panelTitle li {
    min-width: 50%;
  }
}

@media (max-width: 460px) {
  .panelTitle li {
    min-width: 100%;
  }
}

@media screen and (min-width: 750px) {
  h4 {
    font-size: 1.4em;
  }

  p,
  li,
  dt,
  dd {
    font-size: 1.3em;
  }

  ol.linenums li {
    font-size: 1em;
  }

  div.explain dt,
  div.explain dd {
    font-size: 1em;
  }

  .titleComponent>div h3 {
    font-size: 1.6em;
  }

  c3m-tabs div.code {
    max-height: 500px;
  }

  c3m-tabs ol.display-code {
    margin-left: 0;
  }

  .pre-code {
    font: 1.1em var(--stack);
    margin: 1rem auto;
  }

  div.tip p {
    font-size: 1em;
  }
}

@media screen and (min-width: 850px) {
  div.explain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }

  div.explain p {
    flex-basis: 100%;
  }

  div.tip {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1000px) {
  .titleComponent .gitBtn {
    display: none;
    width: 5.8em;
    font-size: 75%;
    text-decoration: none;
    color: var(--n-dark);
  }

  .titleComponent .gitBtn svg {
    left: 10px;
  }

  .titleComponent .gitBtn span {
    position: static;
    text-indent: 0;
    line-height: 2em;
  }

  div.panelTitle {
    padding: 2rem 5%;
    margin-bottom: 5vh;
  }

  div.panelTitle h2 {
    font-size: 2em;
    padding: 0.5em 2rem;
  }

  .panelTitle ul {
    padding: 0.5em 1rem;
    margin: 0;
  }

  #wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  header {
    flex-basis: 25%;
    z-index: 2;
  }

  main {
    width: 75%;
  }

  footer {
    flex-basis: 100%;
    z-index: 1;
  }

  article.post section {
    padding: 2rem;
  }

  article.post h3 {
    font-size: 1.5em;
    margin-bottom: 2em;
  }

  article.post h4 {
    font-size: 1.4em;
  }

  article.post div.group+div.group {
    padding-top: 2rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  app-header {
    flex-basis: 20%;
  }

  app-main {
    width: 80%;
  }
}

/* PROPERTIES TABLE */

.properties table {
  width: 100%;
  margin-bottom: 2em;
}

.properties table th,
.properties table td {
  border: 1px solid #e5ebf0;
  padding: 0.5em;
}

.properties table th {
  background-color: var(--main-light);
}

.properties table tr:nth-child(odd) {
  background-color: #fff;
}

.properties table tr:nth-child(even) {
  background-color: var(--n-light);
}

.properties table td ul {
  display: block;
  padding-left: 1em;
}

.properties table td ul li {
  list-style-type: disc;
  font-size: 1em;
}


/********************************** ******************* CSS RECUP DIRECTEMENT DES COMPOSANTS ******************** ********************************/


/****************/
/**** HEADER ****/
/****************/

/* HEADER */

header {
  background-color: var(--n-dark);
}

header h1 {
  color: var(--text-inv);
  background-color: var(--n-dark);
  padding: 1.1rem 0 0 45px;
  margin-left: 5%;
}

h1 img {
  max-width: 175px;
}

header>button {
  position: absolute;
  top: 0;
  left: 5%;
  background: initial;
  padding: 1rem;
  margin-left: -1rem;
  transition: transform 0.7s;
}

header>button img {
  width: 25px;
  height: 25px;
}

/* If Burger Menu Open */

.mobileOpen {
  height: 100%;
  left: 0;
  transition: left 0.6s;
}

/* Else if Burger Menu Close */

.mobileClose {
  transition: left 0.6s;
}

/* Rotate Burger Button */

.burgerVertical {
  transform: rotateZ(90deg);
}

app-menu {
  position: absolute;
  left: -1000px;
  width: 80%;
  max-width: 350px;
  height: auto;
  color: var(--text-inv);
  background-color: var(--n-dark);
  transition: left 0.6s;
  z-index: 999;
}

@media screen and (min-width: 1000px) {
  header .logo {
    display: block;
    text-align: center;
    padding: 5vh 0 9vh;
  }

  header h1 {
    padding: 0;
    margin: 0;
  }

  header>button {
    display: none;
  }

  header>p {
    padding: 0;
  }

  header .mobileClose,
  .mobileOpen {
    left: 0;
    height: auto;
    background-color: var(--n-dark);
  }

  app-menu {
    display: block;
    position: static;
    overflow: hidden;
    width: auto;
    height: auto;
    top: 0;
  }
}



/*******************/
/**** MENU ITEM ****/
/*******************/


.menu-group.closed .panel-collapse {
  display: none;
}

header ul li button {
  position: relative;
  width: 100%;
  text-align: left;
  color: var(--text-inv);
  background-color: var(--n-dark);
  padding: 1.1rem 1rem 0.8rem;
  transform: perspective(1px) translateZ(0);
  transition: color 0.5s;
  cursor: pointer;
}

header ul li button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--n-light);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}

header ul li button:hover:before,
header ul li button:focus:before,
header ul li button:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

header ul li button:hover,
header ul li button:active,
header ul li button:focus {
  color: var(--n-dark);
}

header ul li button svg {
  position: relative;
  top: -3px;
  width: 24px;
  height: 29px;
  fill: var(--n-light);
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 1.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

header ul li.help button {
  color: var(--main-light);
}

header ul li.help button svg {
  fill: var(--main-light);
}

header ul li button:hover svg,
header ul li button:active svg,
header ul li button:focus svg {
  fill: var(--n-dark);
}

header ul li.help button:hover,
header ul li.help button:active,
header ul li.help button:focus {
  color: var(--main-color);
}

header ul li.help button:hover svg,
header ul li.help button:active svg,
header ul li.help button:focus svg {
  fill: var(--main-color);
}

/* Menu Items */

.contenuMenu {
  margin: 0 0 0.5rem 0.8rem;
}

.contenuMenu li {
  padding: 0 0 0.4rem 30px;
  font: 0.95em/1 var(--stack-l);
}

.contenuMenu li:first-child {
  margin-top: 0.5rem;
}

.contenuMenu li a {
  display: block;
  width: 80%;
  text-decoration: none;
  color: var(--text-inv);
  background-color: var(--n-dark);
  padding: 0.5rem 0 0.5rem 1rem;
}

.contenuMenu li a.active,
.contenuMenu li a:hover,
.contenuMenu li a:active,
.contenuMenu li a:focus {
  color: var(--n-dark);
  background-color: var(--n-light);
}

/* DESKTOP */

@media screen and (min-width: 1400px) {
  header ul li button {
    padding: 1.1rem 2rem 0.8rem;
  }
}


/*****************/
/**** ACCUEIL ****/
/*****************/

/* Welcome Title */

.whyNgCream h2 {
  display: none;
  font: 2em var(--stack-b);
  text-align: center;
  color: var(--n-dark);
  margin-bottom: 0.5em;
}

/* Welcome Paragraph */

.whyNgCream {
  display: block;
  padding: 6vh 1rem 7vh;
  background-color: rgba(249, 249, 249, 0.72);
}

.whyNgCream p {
  text-align: center;
  font: calc(1.3em + 0.8vmax) / 1.45 var(--stack-l);
}

/* Containers with SVG icons */

.ngCreamBecause {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: rgba(249, 249, 249, 0.72);
  padding-bottom: 3rem;
}

.ngCreamBecause li {
  margin: 0 auto 2rem;
}

/* The SVG */

.ngCreamBecause li svg {
  width: 16vmax;
  height: 16vmax;
  max-width: 150px;
  max-height: 150px;
  fill: var(--n-dark);
}

.ngCreamBecause li h3 {
  font: 1.5rem var(--stack-b);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.ngCreamBecause li p {
  display: block;
  width: 70%;
  max-width: 20em;
  line-height: 1.45;
  margin: 0 auto;
}

.ngCreamBecause li p strong {
  font-family: var(--stack-b);
  color: var(--main-color);
}

/* BREAKPOINT */

@media screen and (min-width: 450px) {
  .ngCreamBecause li {
    width: 50%;
  }
}

@media screen and (min-width: 750px) {
  .ngCreamBecause li {
    font-size: 1em;
  }
}

/* BREAKPOINT */

@media screen and (min-width: 1000px) {
  .whyNgCream {
    padding: 12vh 13vw 7vh;
  }

  .ngCreamBecause {
    padding-top: 4rem;
  }

  .ngCreamBecause li {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1400px) {
  lottie-animation-view>div {
    background-color: var(--body-bg);
  }
}